<!DOCTYPE html>
<html>
  <head>
    <title>Danny CarDealerShip</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style type="text/css">
        body{
            background-color: #d3d1d1d3;
        }
        .container{
            height: 70vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    </style>
  </head>
  <body>
    <h1 class="text-center">Danny Car Dealership</h1>
    <div class="container text-center">
        <h3>Welcome , what do you want to do</h3>
        <p class = "h5 mt-3"><a href="/cars">See The List Of Cars</a></p>
        <p class = "h5"><a href="/cars/form">Add New Car</a></p>
    </div>
  </body>
</html>